main {
  display: none;
  overflow-wrap: break-word;
}

.light-text {
  font-weight: 200;
}

.larger-text {
  font-size: calc(1.25rem);
}

@media only screen and (max-width: 768px) {
  #inputDiv {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 992px) {
  #emailLogoutLine {
    display: none !important;
  }
  #signupNav {
    margin-left: 0px !important;
  }
  #loginNav {
    margin-top: 10px;
    margin-left: 0px !important;
  }
}

#loggedInDiv {
  display: none !important;
}

#emailLogoutLine {
  display: none;
}

#menubarAccountDiv {
  margin-right: 10px;
}

nav {
  display: none;
}

#urlsTable {
  margin-top: 20px;
  width: 50vw;
}

.login-container .contact-container {
  margin-top: 5%;
}

.login-form {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(221, 212, 212, 0.1);
}
.contact-form {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(221, 212, 212, 0.1);
}

.login-form h2,
.contact-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}
