@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
  }
}

main {
  display: none;
  overflow-wrap: break-word;
}

.light-text {
  font-weight: 200;
}

.larger-text {
  font-size: calc(1.25rem);
}

@media only screen and (max-width: 768px) {
  #inputDiv {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 992px) {
  #emailLogoutLine {
    display: none !important;
  }
  #signupNav {
    margin-left: 0px !important;
  }
  #loginNav {
    margin-top: 10px;
    margin-left: 0px !important;
  }
}

#loggedInDiv {
  display: none !important;
}

#emailLogoutLine {
  display: none;
}

#accountEmailSpan {
  margin-right: 10px;
}

#loginNav {
  display: none;
}
#signupNav {
  display: none;
}

nav {
  display: none;
  opacity: 0;
}

#urlsTable {
  margin-top: 20px;
  width: 50vw;
}

.login-container {
  margin-top: 5%;
}

.login-form {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(221, 212, 212, 0.1);
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}
