{% extends "layout.html" %} {% block content %}
<div class="container mt-5">
  <div class="container login-container">
    <div class="row justify-content-center">
      <div class="col-md-6 login-form">
        <h2>Contact</h2>
        <form
          class="text-center d-flex flex-column justify-content-center mx-auto needs-validation"
          id="contactForm"
          action="https://formspree.io/f/mleyglgp"
          method="POST"
          novalidate
        >
          <div class="mb-3">
            <label for="contactEmailInput" class="form-label">Email:</label>
            <input
              type="email"
              name="email"
              class="form-control"
              id="contactEmailInput"
              placeholder="Enter your email"
              required
            />
            <div class="invalid-feedback">
              Please enter a valid email address.
            </div>
          </div>
          <div class="mb-3">
            <label for="loginPasswordInput" class="form-label">Message:</label>
            <input
              type="text"
              name="message"
              class="form-control"
              placeholder="Enter your message"
              required
            />
            <div class="invalid-feedback">A message is required.</div>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="static/contact.js"></script>
{% endblock %}
