{% extends "layout.html" %} {% block title %}A private URL shortener{% endblock
%} {% block content %}
<div style="text-align: center" class="mx-auto">
  <div class="px-4 my-5 text-center">
    <img
      class="d-block mx-auto mb-4"
      src="static/img/logo.webp"
      alt=""
      width="100"
      height="100"
      style="border-radius: 10px"
    />
    <h1 class="display-5 fw-bold text-body-emphasis">
      A
      <span class="text-primary">free</span>
      (free speech) URL shortener.
    </h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        A no junk, simple, private URL shortener you can trust. Bitly, really?
        <strong>That rhymes.</strong>
        Unlimited entries & an account is not required. <br />
        <strong> Bye bye trackers!</strong>
      </p>
    </div>
    <p style="margin-bottom: 0" class="text-warning fw-bold">Warning:</p>
    <p class="fst-italic" style="margin-bottom: 0">
      *Website & data is hosted on an Amazon AWS EC2 instance & URLS are stored
      <br />
      on a MySQL database. Check out the
      <a href="sourcecode">source code</a> for more information.
    </p>
  </div>
  <div id="inputDiv" class="border p-3 col-6 mx-auto">
    <span class="larger-text">Enter your URL:</span>
    <form style="margin-top: 10px">
      <input
        type="text"
        id="urlInput"
        name="urlInput"
        class="form-control"
        placeholder="Paste your URL here"
        autocomplete="off"
      />
      <button
        class="btn btn-primary mt-2"
        style="width: 100%"
        id="shortenButton"
      >
        Shorten
      </button>
    </form>
  </div>
</div>

<div
  style="text-align: center"
  class="loggedInElement align-items-center justify-content-center flex-column d-flex"
>
  {% if urls is not none %}
  <table class="table table-bordered table-hover" id="urlsTable">
    <thead>
      <tr>
        <th>Original</th>
        <th>Shortened</th>
        <th>Action</th>
        <!-- Add a new header for the action column -->
      </tr>
    </thead>
    <tbody>
      {% for url in urls %}
      <tr data-href="https://example.com/user/1">
        <td class="align-middle">{{ url.original }}</td>
        <td class="align-middle">{{ url.shortened }}</td>
        <td class="d-flex justify-content-between">
          <!-- Add the copy & edit button using Font Awesome icons -->
          <div class="btn-group align-middle">
            <button
              class="btn btn-sm btn-primary copy-button rounded-3"
              style="margin-right: 10px"
              data-original="{{ url.original }}"
              data-shortened="{{ url.shortened }}"
            >
              <i class="bi bi-clipboard"></i> Copy
            </button>
          </div>
          <div class="dropdown">
            <button
              class="btn btn-secondary"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu">
              <li>
                <button
                  class="dropdown-item btn btn-warning editUrlBtn"
                  data-id="{{ url.id }}"
                  data-shortened="{{ url.shortened }}"
                >
                  <i class="bi bi-pencil-square" style="margin-right: 5px"></i>
                  Edit
                </button>
              </li>
              <li>
                <button
                  class="dropdown-item btn btn-danger deleteUrlTrigger"
                  data-id="{{ url.id }}"
                  data-shortened="{{ url.shortened }}"
                >
                  <i class="bi bi-trash" style="margin-right: 5px"></i>
                  Delete
                </button>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% endif %}
</div>
{% endblock %} {% block src %}
<script src="static/index.js"></script>
{% endblock %}
