{% extends "layout.html" %} {% block title %}A private URL shortener{% endblock
%} {% block content %}
<div style="text-align: center" class="mx-auto">
  <div class="px-4 my-5 text-center">
    <img
      class="d-block mx-auto mb-4"
      src="static/img/logo.jpeg"
      alt=""
      width="100"
      height="100"
      style="border-radius: 10px"
    />
    <h1 class="display-5 fw-bold text-body-emphasis">
      A
      <span class="text-primary">free</span>
      (free speech) URL shortener.
    </h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        A no junk, simple, private URL shortener you can trust. Bitly, really?
        <strong>That rhymes.</strong>
        Unlimited entries & an account is not required. <br />
        <strong> Bye bye trackers!</strong>
      </p>
    </div>
    <p style="margin-bottom: 0" class="text-warning fw-bold">Warning:</p>
    <p class="fst-italic" style="margin-bottom: 0">
      *Website & data is hosted on an Amazon AWS EC2 instance & URLS are stored
      <br />
      on a MySQL database. Check out the
      <a href="sourcecode">source code</a> for more information.
    </p>
  </div>
  <div id="inputDiv" class="border p-3 col-6 mx-auto">
    <span class="larger-text">Enter your URL:</span>
    <form style="margin-top: 10px">
      <input
        type="text"
        id="urlInput"
        name="urlInput"
        class="form-control"
        placeholder="Paste your URL here"
        autocomplete="off"
      />
      <button
        class="btn btn-primary mt-2"
        style="width: 100%"
        id="shortenButton"
      >
        Shorten
      </button>
    </form>
  </div>
</div>

<div
  style="text-align: center"
  id="loggedInDiv"
  class="d-flex align-items-center justify-content-center flex-column"
>
  {% if urls is not none %}
  <table class="table table-bordered table-hover" id="urlsTable">
    <thead>
      <tr>
        <th>Original</th>
        <th>Shortened</th>
        <th>Action</th>
        <!-- Add a new header for the action column -->
      </tr>
    </thead>
    <tbody>
      {% for url in urls %}
      <tr data-href="https://example.com/user/1">
        <td class="align-middle">{{ url.original }}</td>
        <td class="align-middle">{{ url.shortened }}</td>
        <td class="d-flex justify-content-between">
          <!-- Add the copy & edit button using Font Awesome icons -->
          <div class="btn-group align-middle">
            <button
              class="btn btn-sm btn-primary copy-button rounded-3"
              style="margin-right: 10px"
              data-original="{{ url.original }}"
              data-shortened="{{ url.shortened }}"
            >
              <i class="bi bi-clipboard"></i> Copy
            </button>
          </div>
          <div class="dropdown">
            <button
              class="btn btn-secondary"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu">
              <li>
                <button
                  class="dropdown-item btn btn-warning editUrlBtn"
                  data-id="{{ url.id }}"
                  data-shortened="{{ url.shortened }}"
                >
                  <i class="bi bi-pencil-square" style="margin-right: 5px"></i>
                  Edit
                </button>
              </li>
              <li>
                <button
                  class="dropdown-item btn btn-danger deleteUrlTrigger"
                  data-id="{{ url.id }}"
                  data-shortened="{{ url.shortened }}"
                >
                  <i class="bi bi-trash" style="margin-right: 5px"></i>
                  Delete
                </button>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% endif %}
  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editUrlLabel">Edit URL</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Cancel"
          ></button>
        </div>
        <div class="modal-body">
          <label for="editUrlInput">URL:</label>
          <input
            type="text"
            id="editUrlInput"
            name="editUrlInput"
            class="form-control"
            placeholder="Paste your URL here"
            autocomplete="off"
          />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button type="button" class="btn btn-primary" id="editUrlChangesBtn">
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="deleteAccountModal"
    tabindex="-1"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Delete Account</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Cancel"
          ></button>
        </div>
        <div class="modal-body">
          <span class="fw-bold"
            >Are you sure you want to delete your account? <br />
          </span>
          <span class="text-muted"
            >Deleting your account will also delete all shortened URLS created
            under this account.</span
          >
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button type="button" class="btn btn-danger" id="deleteAccountBtn">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="deleteModal"
    tabindex="-1"
    aria-labelledby="deleteModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editUrlLabel">Delete URL</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Cancel"
          ></button>
        </div>
        <div class="modal-body">
          <span id="deleteUrlConf"
            >Are you sure you want to delete the URL with ID (...)</span
          >
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button type="button" class="btn btn-danger" id="deleteUrlBtn">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="urlModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">URL</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <strong>Original: </strong>
        <a href="" id="originalUrl"></a>
        <br />
        <strong>Shortened: </strong>
        <a href="" id="shortenedUrl"></a>
      </div>
    </div>
  </div>
</div>

<script src="static/index.js"></script>
{% endblock %}
