{% extends "base.html" %} {% block content %}
<div
  style="text-align: center"
  class="d-flex align-items-center justify-content-center flex-column"
>
  <h1 class="light-text">
    A
    <span class="text-primary" style="font-weight: 700">free</span>
    (as in no limits!) URL shortener.
  </h1>
  <p class="larger-text text-success">
    No account required, and data is not shared.
  </p>
  <p style="margin-bottom: 0" class="text-warning fw-bold">Warning:</p>
  <p class="fst-italic">
    *Website & data is hosted on an Amazon AWS EC2 instance & URLS are
    accessible <br />
    on a MySQL database. Check out the <a href="sourcecode">source code</a> for
    more information.
  </p>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <!-- Left container for URL shortener input with border -->
      <div id="inputDiv" class="border p-3">
        <p class="larger-text">Original URL:</p>
        <form>
          <label id="enterUrlLabel" for="urlInput">Enter URL:</label>
          <input
            type="text"
            id="urlInput"
            name="urlInput"
            class="form-control"
            placeholder="Paste your URL here"
            autocomplete="off"
          />
          <button class="btn btn-primary mt-2" id="shortenButton">
            Shorten
          </button>
        </form>
        <a id="originalUrl"></a>
      </div>
    </div>

    <div class="col-md-6">
      <!-- Right container for the output div with border -->
      <div class="output-container border p-3">
        <div class="output-div">
          <p class="larger-text">Shortened URL:</p>
          <a id="shortenedUrl" href=""></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  style="text-align: center"
  id="loggedInDiv"
  class="d-flex align-items-center justify-content-center flex-column"
>
  {% if urls is not none %}
  <table class="table table-bordered table-hover" id="urlsTable">
    <thead>
      <tr>
        <th>Original</th>
        <th>Shortened</th>
        <th>Action</th>
        <!-- Add a new header for the action column -->
      </tr>
    </thead>
    <tbody>
      {% for url in urls %}
      <tr data-href="https://example.com/user/1">
        <td>{{ url.original }}</td>
        <td>{{ url.shortened }}</td>
        <td>
          <!-- Add the copy & edit button using Font Awesome icons -->
          <div class="btn-group">
            <button
              class="btn btn-sm btn-primary copy-button rounded-3"
              style="margin-right: 10px"
              data-original="{{ url.original }}"
              data-shortened="{{ url.shortened }}"
            >
              <i class="fas fa-copy"></i> Copy
            </button>
            <button
              class="btn btn-sm btn-secondary"
              style="width: 30px; border-radius: 15px"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">
                <i class="fas fa-edit"></i> Edit
              </a>
              <a class="dropdown-item" href="#">
                <i class="fas fa-trash-alt"></i> Delete
              </a>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% endif %}

  <script src="static/index.js"></script>
  {% endblock %}
</div>
