<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Shortly | {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="static/img/favicon.webp">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="/static/output.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.slim.min.js"
      integrity="sha512-sNylduh9fqpYUK5OYXWcBleGzbZInWj8yCJAU57r1dpSK9tP2ghf/SRYCMj+KsslFkCOt3TvJrX2AV/Gc3wOqA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/static/theming.js"></script>
  <noscript>
  <meta http-equiv="refresh" content="0;url=noscript"></meta>
  </noscript>
  </head>
    <body class="dark:bg-gray-900">
    {% include "nav2.html" %}
    <main>
    {% block content %}{% endblock %}
    </main>
    {% include "modal2.html" %}
    {% block src %}{% endblock %}
    <script src="/static/main2.js"></script>
    <script src="\static\node_modules\flowbite\dist\flowbite.min.js"></script>
  </body>
</html>
