<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Shortly</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="sourcecode">Source Code</a>
        </li>
      </ul>
      <span id="accountEmailSpan"></span>
      <ul class="navbar-nav me-auto3 mb-lg-0 d-flex">
        <li class="nav-item">
          <button
            class="btn btn-secondary"
            style="margin-left: 10px"
            id="signupNav"
            href="about:blank"
          >
            Signup
          </button>
        </li>
        <div class="vr" id="emailLogoutLine"></div>
        <li class="nav-item">
          <button
            class="btn btn-secondary"
            style="margin-left: 10px"
            id="loginNav"
            href="about:blank"
          >
            Login
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
