<div
    class="modal fade"
    id="deleteAccountModal"
    tabindex="-1"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Delete Account</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Cancel"
          ></button>
        </div>
        <div class="modal-body">
          <span class="fw-bold"
            >Are you sure you want to delete your account? <br />
          </span>
          <span class="text-muted"
            >Deleting your account will also delete all shortened URLS created
            under this account.</span
          >
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button type="button" class="btn btn-danger" id="deleteAccountBtn">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="deleteModal"
    tabindex="-1"
    aria-labelledby="deleteModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editUrlLabel">Delete URL</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Cancel"
          ></button>
        </div>
        <div class="modal-body">
          <span id="deleteUrlConf"
            >Are you sure you want to delete the URL with ID (...)</span
          >
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button type="button" class="btn btn-danger" id="deleteUrlBtn">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="urlModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">URL</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <strong>Original: </strong>
        <a href="" id="originalUrl"></a>
        <br />
        <strong>Shortened: </strong>
        <a href="" id="shortenedUrl"></a>
      </div>
    </div>
  </div>
</div>