<nav class="d-none navbar navbar-expand-lg bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Shortly</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="sourcecode">Source Code</a>
        </li>
      </ul>
      <div class="loggedInElement d-flex align-items-center" id="navAccountDiv">
        <div class="dropdown" style="margin-left: 10px">
          <button
            class="btn btn-primary"
            id="settingsBtn"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-gear"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <button class="dropdown-item btn btn-success" id="logoutBtn">
                <i class="bi bi-box-arrow-left" style="margin-right: 5px"></i>
                Log Out
              </button>
            </li>
            <li>
              <button
                class="dropdown-item btn btn-danger"
                data-bs-target="#deleteAccountModal"
                data-bs-toggle="modal"
              >
                <i class="bi bi-trash" style="margin-right: 5px"></i>
                Delete Account
              </button>
            </li>
          </ul>
        </div>
      </div>
      <ul class="navbar-nav me-auto3 mb-lg-0 d-flex">
        <li class="nav-item">
          <button
            class="btn btn-secondary loggedOutElement"
            style="margin-left: 10px"
            id="signupNav"
            href="about:blank"
          >
            Signup
          </button>
        </li>
        <div class="vr loggedInElement"></div>
        <li class="nav-item">
          <button
            class="btn btn-secondary"
            style="margin-left: 10px"
            id="toggleAuthBtn"
          >
            Login
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
