{% extends "layout.html" %} {% block title %}Signup{% endblock %} {% block
content %}
<div class="container mt-5">
  <div class="container login-container">
    <div class="row justify-content-center">
      <div class="col-md-6 login-form">
        <h2>Signup</h2>
        <form
          class="needs-validation text-center d-flex flex-column justify-content-center mx-auto"
          id="signupForm"
          novalidate
        >
          <div class="mb-3">
            <label for="signupEmailInput" class="form-label">Email:</label>
            <input
              type="email"
              class="form-control"
              id="signupEmailInput"
              placeholder="Enter your email"
            />
            <div class="invalid-feedback">
              Please enter a valid email address.
            </div>
          </div>
          <div class="mb-3">
            <label for="signupPasswordInput" class="form-label"
              >Password:</label
            >
            <input
              type="password"
              class="form-control"
              id="signupPasswordInput"
              placeholder="Enter a secure password!"
            />
            <div class="invalid-feedback">
              Please enter a password with 8 characters, & atleast 1 symbol, 2
              numbers and 3 letters.
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-primary btn-block"
            id="signupBtn"
          >
            Signup
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block src %}
<script src="/static/signup.js"></script>
{% endblock %}
