{% extends "layout2.html" %} {% block content %}
<div class="pb-4 sm:pb-0">
  <div class="relative px-6 lg:px-8">
    <div
      class="absolute top-0 -left-4 w-72 h-72 bg-purple-300 rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob pointer-events-none dark:hidden"
    ></div>
    <div
      class="absolute top-0 -right-4 w-72 h-72 bg-yellow-300 rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob animation-delay-2000 pointer-events-none dark:hidden"
    ></div>
    <div
      class="absolute -bottom-8 left-20 w-72 h-72 bg-pink-300 rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob animation-delay-4000 pointer-events-none dark:hidden"
    ></div>
    <section class="bg-white dark:bg-gray-900">
      <div
        class="grid max-w-screen-xl px-4 pt-20 pb-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 md:grid-cols-12 lg:pt-28"
      >
        <div class="mr-auto place-self-center md:col-span-7">
          <h1
            class="max-w-2xl mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-5xl xl:text-6xl dark:text-white"
          >
            The <span class="text-green-500">best</span> URL shortener.
          </h1>
          <p
            class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400"
          >
            A no-nonsense, free, private URL shortener you can trust. No
            accounts, no limits, no bloat! Built using
            <strong class="font-medium text-slate-800 whitespace-nowrap"
              >Flask</strong
            >,
            <strong class="font-medium text-slate-800 whitespace-nowrap"
              >Tailwind CSS</strong
            >
            &
            <strong class="font-medium text-slate-800 whitespace-nowrap"
              >JavaScript</strong
            >.
          </p>
          <div class="space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
            <a
              href="https://github.com/themesberg/landwind"
              class="inline-flex w-full px-5 py-3 text-sm font-medium text-center text-gray-900 border border-gray-200 rounded-lg sm:w-auto hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
            >
              Get started
            </a>
            <a
              href="https://github.com/themesberg/landwind"
              class="inline-flex w-full px-5 py-3 text-sm font-medium text-center text-gray-900 border border-gray-200 rounded-lg sm:w-auto hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
            >
              <i class="bi bi-github" style="margin-right: 8px"></i>
              View on GitHub
            </a>
          </div>
        </div>
        <div class="hidden md:mt-0 md:col-span-5 md:flex max-w-2xl">
          <img
            src="/static/img/hero.png"
            alt="hero image"
            class="select-none"
            draggable="false"
          />
        </div>
      </div>
    </section>
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700 dark:text-white mx-auto mb-5"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8 dark:text-white">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
        >
          Shorten a URL...
        </h1>
        <div>
          <form
            class="space-y-4 md:space-y-6 group dark:text-white"
            id="urlForm"
            novalidate=""
          >
            <div class="dark:text-white flex">
              <input
                type="text"
                name="message"
                id="urlInput"
                placeholder="Your message"
                class="bg-gray-50 border-2 border-gray-300 text-gray-900 sm:text-sm focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 invalid:[&amp;:not(:placeholder-shown):not(:focus)]:border-red-500 peer dark:text-white"
                required=""
              />
                          <button
              type="button"
              class="w-full border-2 border-blue-500 rounded-r-md text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 group-invalid:pointer-events-none group-invalid:opacity-50 select-none dark:text-white"
              id="shortenBtn"
              data-modal-target="urlModal"
              data-modal-toggle="urlModal"

              disabled=""
            >
              Shorten
            </button>
              <span
                class="mt-2 hidden text-sm text-red-500 peer-[&amp;:not(:placeholder-shown):not(:focus):invalid]:block excludedElement"
              >
                Please enter a message.
              </span>
            </div>
            </form>
        </div>
          </form>
        </div>
      </div>
      

{% if urls is not none %}
<div class="max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700 mx-auto">
    <div class="flex items-center justify-between mb-4">
        <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Your created URLs</h5>
        <a href="#" class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500">
            View all
        </a>
   </div>
   <div class="flow-root">
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
          {% for url in urls %}
            <li class="py-3 sm:py-4">
                <div class="flex items-center">
                    <div class="flex-shrink-0">
                        <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-1.jpg" alt="Neil image">
                    </div>
                    <div class="flex-1 min-w-0 ms-4 text-base font-semibold">
                        <a href="{{ url.original }}" class="hover:underline text-blue-500 truncate">
                            {{ url.original }}
                        </a>
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                      <a href="{{ url.shortened }}" class="text-blue-500 hover:underline">{{ url.shortened }}</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
   </div>
</div>
{% endif %}

      <section class="bg-gray-50 dark:bg-gray-800">
        <div
          class="max-w-screen-xl px-4 py-8 mx-auto space-y-12 lg:space-y-20 lg:py-24 lg:px-6"
        >
          <!-- Row -->
          <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
            <div class="text-gray-500 sm:text-lg dark:text-gray-400">
              <h2
                class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white"
              >
                Easy switch
              </h2>
              <p class="mb-8 font-light lg:text-xl">
                Deliver great service experiences fast - without the complexity
                of traditional ITSM solutions. Accelerate critical development
                work, eliminate toil, and deploy changes with ease.
              </p>
              <!-- List -->
              <ul
                role="list"
                class="pt-8 space-y-5 border-t border-gray-200 my-7 dark:border-gray-700"
              >
                <li class="flex space-x-3">
                  <!-- Icon -->
                  <svg
                    class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <span
                    class="text-base font-medium leading-tight text-gray-900 dark:text-white"
                    >Continuous integration and deployment</span
                  >
                </li>
                <li class="flex space-x-3">
                  <!-- Icon -->
                  <svg
                    class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <span
                    class="text-base font-medium leading-tight text-gray-900 dark:text-white"
                    >Development workflow</span
                  >
                </li>
                <li class="flex space-x-3">
                  <!-- Icon -->
                  <svg
                    class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <span
                    class="text-base font-medium leading-tight text-gray-900 dark:text-white"
                    >Knowledge management</span
                  >
                </li>
              </ul>
              <p class="mb-8 font-light lg:text-xl">
                Deliver great service experiences fast - without the complexity
                of traditional ITSM solutions.
              </p>
            </div>
            <img
              class="hidden w-full mb-4 rounded-lg lg:mb-0 lg:flex"
              src="./images/feature-1.png"
              alt="dashboard feature image"
            />
          </div>
          <!-- Row -->
          <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
            <img
              class="hidden w-full mb-4 rounded-lg lg:mb-0 lg:flex"
              src="./images/feature-2.png"
              alt="feature image 2"
            />
            <div class="text-gray-500 sm:text-lg dark:text-gray-400">
              <h2
                class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white"
              >
                We invest in the world’s potential
              </h2>
              <p class="mb-8 font-light lg:text-xl">
                Deliver great service experiences fast - without the complexity
                of traditional ITSM solutions. Accelerate critical development
                work, eliminate toil, and deploy changes with ease.
              </p>
              <!-- List -->
              <ul
                role="list"
                class="pt-8 space-y-5 border-t border-gray-200 my-7 dark:border-gray-700"
              >
                <li class="flex space-x-3">
                  <!-- Icon -->
                  <svg
                    class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <span
                    class="text-base font-medium leading-tight text-gray-900 dark:text-white"
                    >Dynamic reports and dashboards</span
                  >
                </li>
                <li class="flex space-x-3">
                  <!-- Icon -->
                  <svg
                    class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <span
                    class="text-base font-medium leading-tight text-gray-900 dark:text-white"
                    >Templates for everyone</span
                  >
                </li>
                <li class="flex space-x-3">
                  <!-- Icon -->
                  <svg
                    class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <span
                    class="text-base font-medium leading-tight text-gray-900 dark:text-white"
                    >Development workflow</span
                  >
                </li>
                <li class="flex space-x-3">
                  <!-- Icon -->
                  <svg
                    class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <span
                    class="text-base font-medium leading-tight text-gray-900 dark:text-white"
                    >Limitless business automation</span
                  >
                </li>
                <li class="flex space-x-3">
                  <!-- Icon -->
                  <svg
                    class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <span
                    class="text-base font-medium leading-tight text-gray-900 dark:text-white"
                    >Knowledge management</span
                  >
                </li>
              </ul>
              <p class="font-light lg:text-xl">
                Deliver great service experiences fast - without the complexity
                of traditional ITSM solutions.
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  {% endblock %} {% block src %}
  <script src="static/test.js"></script>
  {% endblock %}
</div>
